<h1>Users#show</h1>

<p>
Welcome to the final page.  This should be the only page that is password protected!
</p>

<p>
Your details in the user are now:
</p>

<ul>
  <li>Name: <%= @user.name %></li>
  <li>Email: <%= @user.email %></li>
  <li>Age: <%= @user.age %></li>
</ul>

<p>
You should have received an email with a log in. You need to log out to try it out, though.
</p>

<%= link_to "Sign out", destroy_user_session_path  %>

<p> 
For the record, I'm not trying to collect emails.  You can delete your account here, I'm also running a 
cron daily to clear the database.
</p>
<%= link_to "delete your account", user_destroy_path %>

